@{
    ViewBag.Title = "MovieDetail";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #003;
        }

        .home-title {
            height: 60px;
            text-align: center;
            width: 100%;
            color: #FFB90F;
        }

        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
            border-radius: 20px;
            border-spacing : 15px;
        }

        .danhmucphim .col-sm-8 {
            margin-bottom: 30px;
            font-size: 16px;
            color: #ffffff;
        }
       .danhmucphim .text {
           font-size:16px;
           color:#ffffff;
        }
    </style>
</head>
<body>
    @using BaiTapLonWeb.Models;
    <div class="home-title">
        <h2>============Chi tiết phim============</h2>
    </div>
    <div class="row danhmucphim">
        <img src="~/Content/HinhAnh/@Model.Image" alt="Avatar" class="image" style="width:250px;height:400px;"></br>
        <div class="col-sm-8">
            <form action="/Home/XL_ChonMua" method="post">
                Tên phim : @Model.MovieName </br>
                Mã phim : @Model.MovieID </br>
                Đạo diễn : @Model.Director </br>
                Giá vé : @Model.Price VNĐ</br></br>
                @*Ngày chiếu : Convert.(getdate().@Model.ShowTime1)</br></br>*@
               
                <div class="button">
                    <a href="@Url.Action("AllMovie","Home")" class="btn btn-outline-danger">Khác</a>
                    <a href="@Url.Action("ThemGioHang", "Home",new{@MaPhim=@Model.MovieID,@strURL =Request.Url.ToString()})" class="btn btn-outline-danger">Đặt vé</a>
                </div>
                @*<input name="id" value="@Model.MovieID" hidden />
                <input name="tendd" value="@Model.MovieName" hidden />
                <input name="hinhanh" value="@Model.Image" hidden />
                <p>Chọn số lượng mua</p>

                <select name="SLM">
                    @for (int z = 1; z < @Model.SoLuongCon.Value + 1; z++)
                    {
                        <option value="@z">@z</option>
                    }
                </select>
                <input type="submit" name="chonmuasl" value="Chọn mua" class="bg-info" />*@
            </form>

               
        </div>
        <p class="text">Nội dung phim : @Model.Trailer </p></br> 
   </div>

</body>
</html>


